body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

 .search-form {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.search-form input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.recipe-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.recipe {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    width: 300px;
    height: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.recipe:hover {
    transform: translateY(-5px);
}

.recipe h3 {
    margin-top: 0;
    font-size: 1.5em;
    color: black;
}

.recipe img {
    width: 100%;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 15px;
}

.recipe p {
    color: #666;
    line-height: 1.5;
}

.recipe .star-button {
    display: inline-block;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px;
}

.recipe .star-button:hover {
    background-color: #e0a800;
}

.recipe .view-details-button {
    display: inline-block;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px;
}

.recipe .view-details-button:hover {
    background-color: #0056b3;
}
